@model OnlineStorePlatform.Models.ViewModels.Home.HomeIndexVm

@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<div class=container>
    <div class="jumbotron jumbotronIndex">
        <h1 style="color:#ea7066;">Welcome to our Online shop</h1>
        <p style="color:#b5d56a;">
            Here you can find the most beautifull products for your child no mater what age is it.
            The best clouths in the world and wooden toys.
        </p>
        <p><a class="btn btn-lg btn-danger" href="#bestsellers">See our bestsellers products</a></p>
        <p><a class="btn btn-lg btn-success" href="#categories">Or just navigate with some category</a></p>
    </div>
</div>
<h2>
    <span class="shape shape-left bg-color-4"></span>
    <span>Categories</span>
    <span class="shape shape-right bg-color-4"></span>
</h2>
<div class="row" id="categories">
    @foreach (var vm in Model.Categories)
    {
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail imgwrapperCategory">
                @*<div class="imgwrapperCategory">*@
                <img src="~/IMG/Categories/@Html.DisplayFor(vms=>vm.Image)" alt="Category">
                @*</div>*@
                <div class="caption">
                    @*<h3>@Html.DisplayFor(vms => vm.Name)</h3>*@
                    @Html.RouteLink(vm.Name, new
               {
                   controller = "Product",
                   action = "HomeProducts",
                   category = vm.Name,
                   page = 1
               },
         new
         {
             @class = "btn btn-warning btn-block btn-lg"
         }
    )
                </div>
            </div>
        </div>
    }
</div>
<h2>
    <span class="shape shape-left bg-color-4"></span>
    <span>Best Sellers</span>
    <span class="shape shape-right bg-color-4"></span>
</h2>
@*<div class="col-md-9 col-sm-7 col-xs-12 pull-right">
    @foreach (var item in Model.BestSellersProducts)
    {
        <div class="row" id="bestsellers">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="~/IMG/Products/@Html.DisplayFor(vm=>item.Image)" alt="product">
                    <div class="caption">
                        <h3>@Html.DisplayFor(vm => item.Name)</h3>
                        <h1>$@Html.DisplayFor(vm => item.Price)</h1>
                        <h5>@Html.DisplayFor(vm => item.CategoryName)</h5>
                    </div>
                </div>
            </div>
        </div>
    }
</div>*@

<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
    <div class="row" id="productsRow">
            @foreach (var vm in Model.BestSellersProducts)
            {

                <div class="col-md-4 col-sm-7 product">
                    <div class="thumbnail">
                        <div class="imgwrapper">
                            <img class="img-responsive" src="~/IMG/Products/@Html.DisplayFor(vms => vm.Image)" alt="Product">
                        </div>
                        <div class="caption">
                            <h3>@Html.DisplayFor(vms => vm.Name)</h3>
                            <h1>$@Html.DisplayFor(vms => vm.Price)</h1>
                            <h5>@Html.DisplayFor(vms => vm.CategoryName)</h5>
                        </div>
                    </div>
                </div>
            }
    </div>
</div>

