<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top header-container">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Online Store Platform", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Index")">Home <i class="fa fa-home" aria-hidden="true"></i></a>
                        @*@Html.ActionLink("Home", "Index", "Home")*@
                    </li>
                    <li>@Html.ActionLink("Blog", "Articles", "Blog", new { area="blog"},null)</li>
                    <li>@Html.RouteLink("Products", new { controller = "", action = "" }, new { Href = "/products/all/page1" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bg-color-1">fix bar</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bg-color-2">fix bar</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bg-color-3">fix bar</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bg-color-4">fix bar</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bg-color-5">fix bar</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bg-color-6">fix bar</div>
        </div>
    </div>
    <div class="container body-content">
        @if (TempData["message"] != null)
        {

            <div class="alert alert-info alert-dismissable" id="success-alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close"><strong>&times;</strong></a>
                <strong>@TempData["message"]</strong>
            </div>
        }
        @if (TempData["delete-message"] != null)
        {

            <div class="alert alert-danger alert-dismissable" id="success-alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close"><strong>&times;</strong></a>
                <strong>@TempData["delete-message"]</strong>
            </div>
        }
        @if (TempData["edit-message"] != null)
        {

            <div class="alert alert-warning alert-dismissable" id="success-alert">
                <a href="#" class="close" data-dismiss="alert" aria-label="close"><strong>&times;</strong></a>
                <strong>@TempData["edit-message"]</strong>
            </div>
        }
        @RenderBody()
        <hr>
        <footer>
            <p class="">© 2017 - My Online Store Platform</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @RenderSection("scripts", required: false)
    <script>    
        $("#success-alert").fadeTo(7000, 500).slideUp(500, function () {
        $("#success-alert").slideUp(500);
    });
    </script>
</body>
</html>
