@model OnlineStorePlatform.Models.ViewModels.Category.DeleteCategoryVm

@{
    ViewBag.Title = "Delete Category";
}

<hr />
<hr />
@using (Html.BeginForm())
{
    <div class="row edit-category">
        <fieldset disabled>
            <div class="form-group">
                <img src="@Html.DisplayFor(vm=>vm.Image)" alt="Category" />
            </div>
            <div class="form-group">
                @Html.LabelFor(vm => vm.Image)
                @Html.EditorFor(vm => vm.Image, new { htmlAttbutes = new { @class = "form-control" } })
            </div>

            <div class="form-group">
                @Html.LabelFor(vm => vm.Name)
                @Html.EditorFor(vm => vm.Name, new { htmlAttbutes = new { @class = "form-control" } })
            </div>
        </fieldset>
        <div class="form-group">
            <input type="submit" value="Delete" class="form-group btn btn-danger btn-lg" />
        </div>
    </div>
}