@using PagedList;
@using PagedList.Mvc;
@model OnlineStorePlatform.Models.ViewModels.Admin.AdminPageVm

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Admin Panel";
}

<h2>Index</h2>


<div class="row">
    <div class="col-sm-5 table-bordered border-color-3" style="border-radius:10px;">
        <h3><strong>@Html.ActionLink("Add Category", "AddNewCategory", null, new { @class = "btn btn-lg btn-info" })</strong></h3>
        @*<h3><strong>@Html.ActionLink("Add Category", "AddNewCategory", null, new { @class = "btn btn-lg btn-info", data_toggle = "modal", data_target = "#myModal" })</strong></h3>*@
        @*@Html.Partial("_AddNewCategory")*@
        <table class="table table-hover">
            @foreach (var category in Model.Categories)
            {
                <tr>
                    <td><img src='~/IMG/Categories/@Html.DisplayFor(vm => category.Image)' alt="category" class="img-categories" /></td>
                    <td><h4>@Html.DisplayFor(vm => category.Name)</h4></td>
                    <td>@Html.ActionLink("Edit", "EditCategory", new { id = category.Id }, new { @class = "btn btn-lg btn-warning" })</td>
                    <td>@Html.ActionLink("Delete", "DeleteCategory", new { id = category.Id }, new { @class = "btn btn-lg btn-danger" })</td>
                </tr>
            }
        </table>
        @Html.PagedListPager(Model.Categories, page => Url.Action("Index", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
    </div>
    @*<div class="col-sm-5 table-bordered">
            <table class="table">
                <tr>
                    <th>Role</th>
                    <th>Count</th>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>*@
</div>
<br />
<br /><br />
<div class="row">
    <div class="col-sm-12 table-bordered border-color-4" style="border-radius:10px;"">
        <div class="row">
            <div class="pull-left">@Html.ActionLink("Add Product", "AddNewProduct", null, new { @class = "btn btn-lg btn-info" })</div>
            <div class="pull-right">
                @using (Html.BeginForm())
                  {
                    @Html.TextBox("searchAdmin", null, new {@class="form-control", id = "searchAdmin" })
                    @*<input type="text" id="searchProducts" name="searchProducts" class="form-control" placeholder="Enter Your Search" aria-describedby="basic-addon2">*@
                    <input class="btn btn-primary form-control" type="submit" value="Search">
                  }
            </div>
        </div>
        <table class="table table-hover">
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Category Name</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>
                        <img src="~/IMG/Products/@Html.DisplayFor(vm => product.Image)" alt="category" class="img-categories" />
                    </td>
                    <td class="col-sm-3">
                        <h4>@Html.DisplayFor(vm => product.Name)</h4>
                    </td>
                    <td>
                        <h4>@Html.DisplayFor(vm => product.CategoryName)</h4>
                    </td>
                    <td>
                        <h4>@Html.DisplayFor(vm => product.Price)$</h4>
                    </td>
                    <td>
                        <p id="admin-description-product">
                            @Html.DisplayFor(vm => product.Description)
                        </p>
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditProduct", new { id = product.Id }, new { @class = "btn btn-lg btn-warning" })
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteProduct", new { id = product.Id }, new { @class = "btn btn-lg btn-danger" })
                    </td>
                </tr>
            }
        </table>
        @Html.PagedListPager(Model.Products, page => Url.Action("Index", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#searchAdmin").autocomplete({
                @*source: '@Url.Action("GetProductsJson")',*@
                minLength: 1
            });
        });
    </script>
}

@*<div class="row">
        <table id="myDatatable">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Category Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>*@

@*Modal Dialog JS*@
@*@section scripts{
        <script type="text/javascript">
            $(function () {
                $('body').on('click', '.modal-link', function (e) {
                    e.preventDefault();
                    $(this).attr('data-target', '#modal-container');
                    $(this).attr('data-toggle', 'modal');
                });
                $('body').on('click', '.modal-close-btn', function () {
                    $('#modal-container').modal('hide');
                });
                $('#modal-container').on('hidden.bs.modal', function () {
                    $(this).removeData('bs.modal');
                });
            });
        </script>
    }*@
@*<link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
    @section Scripts{
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script>
        $(document).ready(function () {
            var oTable = $('#myDatatable').DataTable({
                "ajax": {
                    "url": '/admin/GetAllProducts',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Image", "autowidth": true },
                    { "data": "Name", "autowidth": true },
                    { "data": "CategoryName", "autowidth": true },
                    { "data": "Price", "autowidth": true },
                    { "data": "Description", "autowidth": true }
                ]
            })
        })
    </script>
    }*@